# LLMs
OPENAI_API_KEY=
ANTHROPIC_API_KEY=
DEEPSEEK_API_KEY=

# Qdrant local Docker
QDRANT_URL=http://localhost:6333
QDRANT_API_KEY=

# Qdrant collections
QDRANT_COLLECTION_EN=medical_docs_en
QDRANT_COLLECTION_ES=medical_docs_es

# Neo4j local Docker
NEO4J_URI=neo4j+s://1f673914.databases.neo4j.io
NEO4J_USERNAME=
NEO4J_PASSWORD=
NEO4J_DATABASE=


# LangSmith

LANGSMITH_API_KEY=
LANGSMITH_TRACING=true
LANGSMITH_PROJECT=medalrag-hiv
LANGSMITH_ENDPOINT=https://eu.api.smith.langchain.com

# UMLS

UMLS_API_KEY=

# Chainlit

CHAINLIT_AUTH_SECRET=